body{
    background-image:-webkit-linear-gradient(top,#dca8ae,#722F37);
}

p{
    font-size: 2rem;
    line-height: 34px;
    color:white;
}

.card{
    background-color: rgba(116, 47, 55, 1);
}

.cv{
    display:flex;
    justify-content:center;
}

.cv a{
    padding:15px;
    background-color:#722F37;
    font-size:15px;
}



