body{
    background-image:-webkit-linear-gradient(top,#dca8ae,#722F37);
}

p{
    font-size: 2rem;
    line-height: 34px;
}

.card{
    background-color: rgba(116, 47, 55, 1);
}

.cv{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cv a{
    padding:15px;
    background-color:#722F37;
    font-size:15px;
}

.background-color-layer {
    box-shadow: inset 0 -40px 60px 10px #4b97d0;
}



